body { 
	background: #222; 
}
body, input, textarea { 
	font: 14px/24px Helvetica, Arial, sans-serif; 
	color: #666; 
}
input { 
	width: 60% 
}
form { 
	margin: 30px 0 0 0 
}
input, textarea { 
	background: none repeat scroll 0 0 #FFFFFF; 
	border: 2px solid #C9C9C9; 
	color: #545658; 
	padding: 8px; 
	font-size: 14px; 
	border-radius: 2px 2px 2px 2px; 
}
#submit { 
	border: 1px solid #B7D6DF; 
	border-radius: 2px 2px 2px 2px; 
	color: #437182; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	font-weight: bold; 
	height: auto; 
	padding: 6px 10px;  
	width: auto; 
}
#Reset{ 
	border: 1px solid #B7D6DF; 
	border-radius: 2px 2px 2px 2px; 
	color: #437182; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	font-weight: bold; 
	height: auto; 
	padding: 6px 10px;  
	width: auto; 
}
#signup-form { 
	width: 510px; 
	margin: 0 auto; 
	margin-top: 50px; 
	margin-bottom: 50px; 
	background: #fff; 
	padding: 40px; 
	border: 15px solid #f2f2f2; 
}
h1, h2, h3, h4, h5, h6 {  
	color: #444; 
}
h1 { 
	float: center; 
	margin: 0 0 30px; 
	font-size: 24px; 
	line-height: 34px; 
}
form label { 
	display: block; */
	margin-bottom: 5px; 
	font-weight: bold; 
	font-size: 12px; 
}